# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Generated data
data/raw/*.csv
data/interim/*.csv
data/processed/*.csv

# Generated outputs
outputs/figures/*
outputs/logs/*
outputs/metrics/*

# Keep folder structure
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!outputs/figures/.gitkeep
!outputs/logs/.gitkeep
!outputs/metrics/.gitkeep